// lilypond

default_mode "locked"

layout {
    tab name="lilypond" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane {
            command "watchexec"
            args "--watch" "[score_directory]" "lilypond" "--include helpers" "--output [output]" "[score]"
        }

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="[score_name]" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane {
            command "$EDITOR"
            args "[score]"
        }

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
